{% extends 'base.html' %}
{% block title %}О программе{% endblock %}
{% block content %}
<h2>О программе:</h2>
    <p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; text-indent: 50px;">Данное приложение представляет собой интерактивный тренажер по арифметике, разработанный для учащихся младших классов. Созданный с использованием фреймворка Django и языка программирования Python, он предоставляет ученикам возможность практиковать основы сложения двух чисел.</p>
    <p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; text-indent: 50px;">Приложение предлагает пользователям выполнять простые вычисления, где они сталкиваются с двумя случайно сгенерированными числами и должны ввести правильный ответ на предложенное выражение. Это способствует развитию навыков быстрого и точного счета, улучшает память и уверенность в математике.</p>
    <p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; text-indent: 50px;">Интерфейс приложения интуитивно понятен для детей, что позволяет им самостоятельно заниматься арифметикой. Каждое выполненное задание сопровождается обратной связью, позволяя учащимся отслеживать свой прогресс.</p>
    <p style="margin-top: 0px; margin-bottom: 0px; text-align: justify; text-indent: 50px;">Образовательный инструмент направлен на повышение интереса к математике, укрепление фундаментальных математических навыков и подготовку детей к более сложным задачам в будущем. Будучи простым в использовании и доступным на различных устройствах, тренажер представляет собой идеальное дополнение к школьной программе или инструмент для домашнего обучения.</p>
    <br><br>
    <p style="margin-top: 0px; margin-bottom: 0px; text-align: right;">Разработчик: <span style='color: red'> Трофим Сыромля</p>
    <br><br>
    <p style="margin-top: 0px; margin-bottom: 0px; text-align: right;">e-mail: <span style='color: red'> trofim-syromlya@mail.ru</p>
{% endblock %}